.vitrine__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
   width: calc(100% - 3rem);
   margin: 0 2rem;
   text-align: center;
   gap: .5rem;
   margin-bottom: 1rem;
}

.items{
    height: 200px;
    width: 400px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative
}

.items-1{
    background-image:  url("https://images.unsplash.com/photo-1606588260160-0c4707ab7db5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fFRPTUFURVN8ZW58MHx8MHx8fDA%3D");
}
.items-2{
    background-image:  url("https://images.unsplash.com/photo-1611080626919-7cf5a9dbab5b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8T1JBTkdFfGVufDB8fDB8fHww");
}
.items-3{
    background-image:  url("https://images.unsplash.com/photo-1564894809611-1742fc40ed80?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.items-4{
    background-image:  url("https://images.unsplash.com/photo-1586201375761-83865001e31c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.items-5{
    background-image:  url("https://images.unsplash.com/photo-1613634711021-a96631c9fd00?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.items-6{
    background-image:  url("https://images.unsplash.com/photo-1594895163638-89dfb5c0353d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.notice{
    height: 40px;
    width: 120px;
    background-color: #fff;
    color: #252422;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: .5rem;
    left: 0;
}

.links__more{
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   left: -10.3rem;
    font-size: .9rem;
    color: #212529;
    transform: all .3s ease;
}

.links__more:hover{
    text-decoration: underline;
    color: #fca311;
}

@media screen and (max-width: 1267px) {
    .vitrine__container {
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
    }
    .items {
        width: 100%; 
      }
      .links__more{
        position: relative;
        left: 25%;
      }
  }

@media screen and (max-width: 850px) {
    .vitrine__container {
      grid-template-columns: 1fr; 
    }
    .links__more{
        position: relative;
        left: 25%;
      }
  }

  @media screen and (max-width: 420px) {
    .vitrine__container {
      grid-template-columns: 1fr; 
      margin: 0 1rem;
    }
    .items {
        width: 100%; 
        height: auto;
      }
      .links__more{
        position: relative;
        left: 25%;
      }
  }

